<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<settings>
		<setting name="jdbcTypeForNull" value="NULL"/>
	</settings>
	<typeAliases>
		<!--typeAlias type="com.project.pt.mypage.model.MypageDTO" alias="mypageDto" />
		<typeAlias type="com.project.pt.mem.model.MemDTO" alias="memDto" />
		<typeAlias type="com.project.pt.management.model.ManagementDTO" alias="managementDto" /-->
		<typeAlias type="com.project.pt.board.model.BoardDTO" alias="boardDto" />
		<typeAlias type="com.project.pt.board.model.BoardStaticsDTO" alias="boardStaticsDto" />
	</typeAliases>
</configuration>
